<div class "container">    
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2 class="text-center">ABOUT UNITE</h2>
            <p class="text-justify">
                Created by the effervescent Candace Fisher, "Unite" aims to be the social hub for entrepeneurs. Meet and greet other 
                entrepeneurs with similar interests and expertise in your area. Gain the insight needed to get your business off 
                the ground. Sign Up is completely FREE!
            </p>
            <p class="text-justify">
                Sit amet mauris commodo quis imperdiet massa tincidunt. Ac orci phasellus egestas tellus rutrum. 
                Urna molestie at elementum eu facilisis sed odio morbi quis. Aliquet porttitor lacus luctus accumsan tortor posuere ac. 
                Tincidunt id aliquet risus feugiat in ante metus dictum at. Donec enim diam vulputate ut pharetra sit amet aliquam. 
                Pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Pretium quam vulputate dignissim suspendisse in est ante in nibh. 
                Ut diam quam nulla porttitor massa. Eu feugiat pretium nibh ipsum consequat nisl. Mi proin sed libero enim sed faucibus. 
                Pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum odio. Magna etiam tempor orci eu lobortis elementum nibh. 
                Pharetra massa massa ultricies mi quis hendrerit dolor magna.
            </p>
            <p class="text-jusity">
                Diam maecenas ultricies mi eget mauris pharetra et. Placerat duis ultricies lacus sed turpis tincidunt id aliquet. 
                In hendrerit gravida rutrum quisque non tellus orci ac. Pellentesque pulvinar pellentesque habitant morbi tristique senectus. 
                Ultrices dui sapien eget mi proin sed libero enim. Aenean et tortor at risus. Aliquam ultrices sagittis orci a scelerisque. 
                Iaculis eu non diam phasellus vestibulum lorem sed risus. In dictum non consectetur a erat nam at lectus urna. 
                Dolor sed viverra ipsum nunc aliquet bibendum. Congue eu consequat ac felis donec et odio pellentesque. 
                Orci nulla pellentesque dignissim enim sit amet venenatis. Nunc sed id semper risus in hendrerit gravida.
            </p>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
