/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
    margin: 0;
    background-color: rgb(243, 230, 225);
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(5, 189, 189);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.jumbotron {
    background-image: url('teal.jpg');
    background-size: cover;
    width: 100%;
    border-style: double;
}

.container {
    color: black;
}

.footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    background-color: teal;
    color: white;
}

@font-face {
    font-family: 'Acme';
    src: url('Acme.ttf');
}

h1 {
    font-family: 'Acme';
}

.card {
    border-color: black;
}

.btn {
    color: black;
}

.btn-primary {
    color: rgb(5, 189, 189);
}

